// ! BrowserWindows
.BrowserWindows {
	.buttons {
		display: flex;
		flex-direction: column;
		align-items: flex-start;

		button {
			margin-bottom: 15px;
		}
	}
}

// ! Alerts
.Alerts {
	.flexes {
		margin-bottom: 15px;
		display: flex;
		justify-content: space-between;
	}

	.title {
		width: 100%;

		span {
			margin-right: 20px;
		}

		.resultConfirmOk {
			color: #00a000;
		}

		.resultConfirmCancel {
			color: #ff0000;
		}

		.resultPrompt {
			color: purple;
		}
	}

	.buttons {
		width: 100%;
	}
}

// ! Frames
.Frames {
	.interval {
		margin-bottom: 15px;
	}
}

// ! NestedFrames
.NestedFrames {
	.interval {
		margin-bottom: 15px;
	}
}

// ! ModalDialogs
// .ModalDialogs {}
