.TextBox {
	display: flex;
	flex-direction: column;

	.userForm {
		width: 100%;
		.userFormFlex {
			margin-bottom: 15px;
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		input {
			width: 600px;
		}

		textarea {
			width: 600px;
		}
	}

	.result {
		margin-top: 50px;
		padding: 10px;
		border: 1px solid #c9c9c9;
	}
}
