.elements {
	.select {
		width: 100%;
		background: #cacaca;
		padding: 30px;

		p {
			opacity: 0.5;
			text-align: center;

			font-size: 40px;
		}
	}

	.accordion {
		max-width: 400px;
	}

	// .show_tab{
		
	// }
}
